= simple_form_for(@organisation) do |f|
  -#- if @organisation.errors.any?
  = f.input :name
  = f.association :groups
  .form-group
    = f.submit nil, :class => 'btn btn-success'
-#<%= form_for(@organisation) do |f| %>
-#  <% if @organisation.errors.any? %>
-#    <div id="error_explanation">
-#      <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>
-#
-#      <ul>
-#      <% @organisation.errors.full_messages.each do |message| %>
-#        <li><%= message %></li>
-#      <% end %>
-#      </ul>
-#    </div>
-#  <% end %>
-#
-#  <div class="field">
-#    <%= f.label :name %><br>
-#    <%= f.text_field :name %>
-#  </div>
-#  <div class="actions">
-#    <%= f.submit %>
-#  </div>
-#<% end %>
