.col-md-12
  %h2 Список организаций
  %table.table.table-hover.table-striped
    %thead
      %tr
        %td{:colspan => 2}
    %tbody
      - @organisations.each do |organisation|
        %tr
          %td= link_to organisation.name, organisation_path(organisation)
          %td
            \Контактов:
            = organisation.contacts.count
  = link_to 'Вернуться', root_path