= simple_form_for(@group) do |f|
  = f.input :name
  = f.association :organisations, include_blank: true
  = f.association :contacts, include_blank: true

  .form-group
    = f.submit nil, :class => 'btn btn-success'