.col-md-12
  %h2 Список отделов
  %table.table.table-hover.table-striped
    %thead
      %tr
        %td{:colspan => 2}
    %tbody
      - @groups.each do |group|
        %tr
          %td= link_to group.name, group_path(group)
          %td
            \Контакты:
            = group.contacts.count
  = link_to 'Вернуться', root_path