= simple_form_for(@contact) do |f|
  = f.input :name
  = f.association :organisation, include_blank: true
  = f.association :groups, include_blank: true
  .form-group
    = f.submit nil, :class => 'btn btn-success'
