.col-md-12
  %h2 Список персон
  %table.table.table-hover.table-striped
    %thead
      %tr
        %td{:colspan => 4}
    %tbody
      - @contacts.each do |contact|
        %tr
          %td= link_to contact.name, contact_path(contact)
          %td
            \Организация:
            = link_to contact.organisation.name, organisation_path(contact.organisation) unless contact.organisation.nil?
          %td
            \Отделы:
            - contact.groups.each do |group|
              = link_to group.name, group_path(group)
          %td
            \Адреса:
            - contact.emails.each do |email|
              = link_to email.email, email_path(email)
  = link_to 'Вернуться', root_path