<div class="col-md-12">
  <h2>Защищенная зона</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.input :email, required: false, autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.input :password, required: false %>
      </div>
      <div class="form-group">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-group">
        <%= f.button :submit, 'Войти', :class => 'btn btn-success' %>
      </div>
  <% end %>
</div>
