= simple_form_for(@email) do |f|
  = f.input :email, :as => :email
  = f.association :contact
  .form-group
    = f.submit nil, :class => 'btn btn-success'
    -#<%= form_for(@contact) do |f| %>
    -#  <% if @contact.errors.any? %>
    -#    <div id="error_explanation">
    -#      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
    -#
    -#      <ul>
    -#      <% @contact.errors.full_messages.each do |message| %>
    -#        <li><%= message %></li>
    -#      <% end %>
    -#      </ul>
    -#    </div>
    -#  <% end %>
    -#
    -#  <div class="field">
    -#    <%= f.label :name %><br>
    -#    <%= f.text_field :name %>
    -#  </div>
    -#  <div class="actions">
    -#    <%= f.submit %>
    -#  </div>
    -#<% end %>
