.col-md-12
  %h2 Список организаций
  %table.table.table-hover.table-striped
    %thead
      %tr
        %td{:colspan => 2}
    %tbody
      - @emails.each do |email|
        %tr
          %td= link_to email.email, "mailto:#{email.email}"
          %td
            \Персона:
            = link_to email.contact.name, contact_path(email.contact) unless email.contact.nil?
  = link_to 'Вернуться', root_path