.col-md-12
  %h2 Заполнение справочников
  %hr
.col-md-4
  = simple_form_for(Organisation.new, :validate => true) do |f|
    = f.input :name, :required => true
    = f.association :groups
    .form-group
      = f.submit nil, :class => 'btn btn-success'
.col-md-4
  = simple_form_for(Group.new, :validate => true) do |f|
    = f.input :name, :required => true
    = f.association :organisations, include_blank: true
    = f.association :contacts, include_blank: true
    .form-group
      = f.submit nil, :class => 'btn btn-success'
.col-md-4
  = simple_form_for(Contact.new, :validate => true) do |f|
    = f.input :name, :required => true
    = f.input :email, :as => :email, :required => true
    = f.association :organisation, include_blank: true
    = f.association :groups, include_blank: true
    .form-group
      = f.submit nil, :class => 'btn btn-success'
.clearfix
.col-md-4
  %h2 Учреждения
  %hr
  %ul.list-group#organisations
    - @organisations.each do |org|
      %li.list-group-item= org.name
.col-md-4
  %h2 Группы
  %hr
  %ul.list-group#groups
    - @groups.each do |group|
      %li.list-group-item= group.name
.col-md-4
  %h2 Контакты
  %hr
  %ul.list-group#contacts
    - @contacts.each do |contact|
      %li.list-group-item= contact.name