.col-md-4
  %h2 Контакты
  = collection_select :contact, :id, Contact.all, :id, :name, {}, multiple: true
.col-md-4
  %h2
    \Контакты
    %small по отделам
  = select_tag :contact_by_group, option_groups_from_collection_for_select(Group.all, :contacts, :name, :id, :name), multiple: true
.col-md-4
  %h2
    \Контакты
    %small по организациям
  = select_tag :contact_by_org, option_groups_from_collection_for_select(Organisation.all, :contacts, :name, :id, :name), multiple: true
.clearfix
.col-md-12
  %hr
  %h2 Заполните поля сообщения
.col-md-4
  = form_tag('/sendmail', :id => 'dispatch_form') do
    .form-group
      = label_tag :user_ids, 'Выбранные контакты'
      = select_tag :user_ids, options_from_collection_for_select(Contact.all, :id, :name), :multiple => true, :disabled => true, :class => 'form-control'
    .form-group
      = label_tag :subject, 'Тема рассылки'
      = text_field_tag :subject, nil, :class => 'form-control'
    .form-group
      = label_tag :body, 'Текст письма'
      = text_area_tag :body, nil, :class => 'form-control'
    .form-group
      = submit_tag 'Отправить', :class => 'btn btn-success'